[submodule "cosmos-sdk"]
	path = cosmos-sdk-go
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "wasmd"]
	path = wasmd
	url = https://github.com/CosmWasm/wasmd.git
[submodule "ibc-go"]
	path = ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "noble"]
	path = noble
	url = https://github.com/noble-assets/noble.git
[submodule "fiattokenfactory"]
	path = fiattokenfactory
	url = https://github.com/noble-assets/fiattokenfactory.git
[submodule "noble-cctp"]
	path = noble-cctp
	url = https://github.com/circlefin/noble-cctp.git
[submodule "forwarding"]
	path = forwarding
	url = https://github.com/noble-assets/forwarding.git
